.profile-picture, .search-button {
  background: transparent;
  border: none;
}

.container-header {
  background-color: #ff2253;
  width: 100vw;
}

.title-header {
  color: white;
  font-size: 35px;
  grid-column: 2/3;
  text-align: center;
}

.radios-buttons-header {
  display: flex;
  flex-direction: column;
}

.radios-container {
  color: #0000;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 95%;
}

.sub-container-header {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  padding: 10px;
}

.search-input-header {
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #00000057;
  display: block;
  font-size: 20px;
  height: 40px;
  margin: auto;
  margin-top: 2px;
  padding-left: 7px;
  padding-right: 7px;
  width: 95%;
}

.search-button-header {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: #0000;
  cursor: pointer;
  font-size: 20px;
  height: 35px;
  margin: auto;
  margin-bottom: 15px;
  width: 95%;
}
